@import '../../utils.scss';

.course-details-wrap {
  width: 80vw;
}
.course-page-pic {
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px 10 px 0 0;
  height: 200px;
  width: auto;
}
.date-price {
  display: flex;
  flex-direction: row;
}
.dates {
  width: 50%;
}
.start-date {
  background-color: $label-blue;
  padding: 5px;
  border-radius: 5px;
  color: $light-blue;
  margin: 20px 20px 20px 0;
  width: fit-content;
}
.price-wrap {
  width: 50%;
}
.price {
  display: flex;
}
.details-header {
  background-color: $darkest-blue;
  color: $light-blue;
  margin: 0 0 50px 0;
  padding: 10px;
  text-align: center;
}
.mothly-payment {
  background: $light-blue;
  color: $background-darkblue;
  padding: 20px;
  height: 100px;
  margin: 30px 0 30px 0;
  width: 50%;
}
.one-payment {
  background: $darkest-blue;
  width: 50%;
  color: $light-blue;
  padding: 20px;
  height: 100px;
  margin: 30px 0 30px 0;
}
.label {
  background-color: $label-blue;
  padding: 5px;
  border-radius: 5px;
  color: #e8ebed;
  width: auto;
  margin: 010px 10px 10px;
}
